<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account List</title>
</head>
<body>
<h1>Account List</h1>
<table>
    <thead>
    <tr>
        <th>Account Alias</th>
        <th>Bank Name</th>
        <th>Account Number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accountList}">
        <td th:text="${account.account_alias}">Account Alias</td>
        <td th:text="${account.bank_name}">Bank Name</td>
        <td th:text="${account.account_num_masked}">Account Number</td>
    </tr>
    </tbody>
</table>
</body>
</html>
